server:
  port: 8888
  tomcat:
    uri-encoding: UTF-8
  servlet:
    context-path: /

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/bmdb?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
  thymeleaf:
    prefix: classpath:/templates/
    cache: false
    encoding: UTF-8
    check-template-location: true
    content-type: text/html
    suffix: .html
  resources:
    static-locations: classpath:/static/
  jpa:
    show-sql: true

mybatis:
  type-aliases-package: cn.konngo.entity
  configuration:
    # 开启驼峰uName自动映射到u_name
    map-underscore-to-camel-case: true
  # mapper-locations: classpath:/mapper/



# 打印sql
logging:
  level:
    cn.konngo.dao : debug