server:
  port: 8888
  tomcat:
    uri-encoding: UTF-8
  servlet:
    context-path: /

spring:
  datasource:
    url: jdbc:mysql://cdb-57vtjqrv.gz.tencentcdb.com:10094/demo120902?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
    username: demo120902
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
  freemarker:
    template-loader-path: classpath:/templates
    cache: false
    charset: UTF-8
    check-template-location: true
    content-type: text/html
    expose-request-attributes: false
    expose-session-attributes: false
    request-context-attribute: request
    suffix: .ftl
  resources:
    static-locations: classpath:/static/
  jpa:
    show-sql: true