<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/assets/weui.css"/>
    <link rel="stylesheet" href="/assets/example.css"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <script type="text/javascript" src="/assets/jweixin-1.0.0.js"></script>
    <script src="/assets/weui.min.js"></script>
    <script type="text/javascript" src="/assets/vue.js"></script>
    <script type="text/javascript" src="/assets/axios.js"></script>
    <script src="/assets/zepto.min.js"></script>
    <style>
        body,html{
            height: 100%;
        }
        input{
            float: right;
        }
        .weui-tab__panel{background-color: white}
    </style>
</head>
<body>
<div class="page tabbar js_show" id="app">
    <div class="page__bd " style="height: 100%;">
        <div class="weui-tab">
            <div class="weui-tab__panel" style="height: 100%;">
                <div id="luxian" v-show="flag==0">
<!--                    <div class="weui-search-bar" id="searchBar">-->
<!--                        <form class="weui-search-bar__form">-->
<!--                            <div class="weui-search-bar__box">-->
<!--                                <i class="weui-icon-search"></i>-->
<!--                                <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">-->
<!--                                <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>-->
<!--                            </div>-->
<!--                            <label class="weui-search-bar__label" id="searchText" style="transform-origin: 0px 0px; opacity: 1; transform: scale(1, 1);">-->
<!--                                <i class="weui-icon-search"></i>-->
<!--                                <span>搜索</span>-->
<!--                            </label>-->
<!--                        </form>-->
<!--                        <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>-->
<!--                    </div>-->
                    <div class="page__hd">
                        <h1 class="page__title">公交路线</h1>
                    </div>
                    <div class="weui-panel weui-panel_access">
                        <div class="weui-panel__bd">
                            <div class="weui-media-box weui-media-box_text" v-for="item in buslines">
                                <h4 class="weui-media-box__title"> {{item.id}}路 {{item.startstation}} - {{item.endstation}}</h4>
                                <input type="button"  value="查看站点信息" onclick="MsgBox()" />
                                <p class="weui-media-box__desc">发车时间：{{item.starttime}}  -  到站时间: {{item.endtime}}</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div  v-show="flag==1">
                    <div class="page__hd">
                        <h1 class="page__title">司机信息</h1>
                    </div>
                    <div class="weui-panel weui-panel_access">
                        <div class="weui-panel__bd">
                            <div class="weui-media-box weui-media-box_text" v-for="item in siji">
                                <h4 class="weui-media-box__title">工号：{{item.id}} </h4>
                                <input type="button"  value="查看司机信息" onclick="MsgBox()" />
                                <p class="weui-media-box__desc"> 姓名：{{item.name}} 联系方式：{{item.phone}} </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div  v-show="flag==2">

                    <div class="page__hd">
                        <h1 class="page__title">失物招领</h1>
                    </div>
                    <div class="weui-panel weui-panel_access">
                        <div class="weui-panel__bd">
                            <div class="weui-media-box weui-media-box_text" v-for="item in losts">
                                <h4 class="weui-media-box__title"> {{item.name}}  </h4>
                                <input type="button"  value="申请认领" onclick="MsgBox()" />
                                <script language="JavaScript">
                                    function MsgBox() {
                                        var se=confirm("确认申请吗?");
                                        if (se==true)
                                        {
                                            alert("确认！");
                                        }
                                        else {
                                            alert("点错了");
                                        }
                                    }
                                </script>
                                <p class="weui-media-box__desc">公交线路：{{item.buslines}}路  司机工号：{{item.siji}}</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div  v-show="flag==3">

                    <div class="page__hd">
                        <h1 class="page__title">个人中心</h1>
                    </div>
                    <div class="weui-grids">
                        <a href="javascript:" @click="change(4)" class="weui-grid">
                            <div class="weui-grid__icon">
                                <img src="/assets/icon_tabbar.png" alt="">
                            </div>
                            <p class="weui-grid__label">修改密码</p>
                        </a>
                        <a href="/userlogin" class="weui-grid">
                            <div class="weui-grid__icon">
                                <img src="/assets/icon_tabbar.png" alt="">
                            </div>
                            <p class="weui-grid__label">退出登录</p>
                        </a>
                    </div>
                </div>
                <div  v-show="flag==4">
                    <div class="page__hd">
                        <h1 class="page__title">修改密码</h1>
                    </div>
                    <div class="weui-form__control-area">

                        <form action="/users/resetpassword" onsubmit="return false;">
                        <div class="weui-cells__group weui-cells__group_form">
                            <div class="weui-cells weui-cells_form">
                                <div class="weui-cell weui-cell_active">
                                    <div class="weui-cell__hd"><label class="weui-label">旧密码</label></div>
                                    <div class="weui-cell__bd">
                                        <input class="weui-input" name="oldpwd" v-model="oldpwd" placeholder="填写旧密码">
                                    </div>
                                </div>
                                <div class="weui-cell weui-cell_active">
                                    <div class="weui-cell__hd"><label class="weui-label">新密码</label></div>
                                    <div class="weui-cell__bd">
                                        <input  class="weui-input" name="newpwd" v-model="newpwd" id="newpwd"   placeholder="新密码">
                                    </div>
                                </div>
                                <div class="weui-cell weui-cell_active">
                                    <div class="weui-cell__hd"><label class="weui-label">重复新密码</label></div>
                                    <div class="weui-cell__bd">
                                        <input class="weui-input" name="repwd"  v-model="repwd" id="repwd" placeholder="重复新密码" >
                                    </div>
                                </div>
                                <div class="weui-form__opr-area">
                                    <button type="button" class="weui-btn weui-btn_primary" @click="check()">确定</button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>


                </div>

                <div v-show="flag==5">
                    <div class="weui-msg">
                        <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
                        <div class="weui-msg__text-area">
                            <h2 class="weui-msg__title">操作失败</h2>
                            <p class="weui-msg__desc">{{msg}}</a></p>
                        </div>
                        <div class="weui-msg__tips-area">
                            <p class="weui-msg__tips">请按照要求填写信息</p>
                        </div>
                        <div class="weui-msg__opr-area">
                            <p class="weui-btn-area">
                                <a href="#" @click="change(4)"  class="weui-btn weui-btn_default">返回</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div v-show="flag==6">
                    <div class="weui-msg">
                        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
                        <div class="weui-msg__text-area">
                            <h2 class="weui-msg__title">操作成功</h2>
                            <p class="weui-msg__desc">{{msg}}</a></p>
                        </div>
                        <div class="weui-msg__opr-area">
                            <p class="weui-btn-area">
                                <a href="#" @click="change(3)" class="weui-btn weui-btn_primary">返回</a>
                            </p>
                        </div>
                    </div>
                </div>


            </div>
            <div class="weui-tabbar">
                <div class="weui-tabbar__item weui-bar__item_on" @click="change(0)">
                    <div style="display: inline-block; position: relative;">
                        <img src="/assets/icon_tabbar4.png" alt="" class="weui-tabbar__icon">
                    </div>
                    <p class="weui-tabbar__label">路线</p>
                </div>
                <div class="weui-tabbar__item" @click="change(1)">
                    <img src="/assets/icon_tabbar3.png" alt="" class="weui-tabbar__icon">
                    <p class="weui-tabbar__label">司机</p>
                </div>
                <div class="weui-tabbar__item" @click="change(2)">
                    <div style="display: inline-block; position: relative;">
                        <img src="/assets/icon_tabbar2.png" alt="" class="weui-tabbar__icon">
                    </div>
                    <p class="weui-tabbar__label">失物</p>
                </div>
                <div class="weui-tabbar__item" @click="change(3)">
                    <img src="/assets/icon_tabbar1.png" alt="" class="weui-tabbar__icon">
                    <p class="weui-tabbar__label">我的</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

    var vue=new Vue({
        el:'#app',
        data:{
            flag:0,
            host:"http://localhost:8888",
            buslines:{},
            siji:{},
            losts:{},
            oldpwd:'',
            newpwd:'',
            repwd:'',
            msg:''
        },
        methods:{
            check(){
                if(this.newpwd!=this.repwd){
                    this.change(5)
                    this.msg='两次输入的密码不一致，请重新输入'
                    return false;
                }
                var self=this
                axios.get(this.host+"/users/resetpwd?oldpwd="+this.oldpwd+"&newpwd="+this.newpwd).then(function (response) {
                    self.msg=response.data.msg
                    var ff=response.data.data;
                    if (ff==1){
                        console.log("mm")
                        self.change(6)
                    }else {
                        console.log("mmt")
                        self.change(5)
                    }
                }).catch(function (error) {
                    console.log(error)
                });
            },
            initData(){
                var that =this
                axios.get(this.host+"/buslines/list").then(function (response) {
                    that.buslines=response.data.data
                }).catch(function (error) {
                    console.log(error)
                });
                axios.get(this.host+"/siji/list").then(function (response) {
                    that.siji=response.data.data
                }).catch(function (error) {
                    console.log(error)
                });
                axios.get(this.host+"/losts/list").then(function (response) {
                    that.losts=response.data.data
                }).catch(function (error) {
                    console.log(error)
                });
            },
            change(id){
                this.flag=id;
                this.init();
            },
            init(){
                var $searchBar = $('#searchBar'),
                    $searchResult = $('#searchResult'),
                    $searchText = $('#searchText'),
                    $searchInput = $('#searchInput'),
                    $searchClear = $('#searchClear'),
                    $searchCancel = $('#searchCancel');

                function hideSearchResult(){
                    $searchResult.hide();
                    $searchInput.val('');
                }
                function cancelSearch(){
                    hideSearchResult();
                    $searchBar.removeClass('weui-search-bar_focusing');
                    $searchText.show();
                }

                $searchText.on('click', function(){
                    $searchBar.addClass('weui-search-bar_focusing');
                    $searchInput.focus();
                });
                $searchInput
                    .on('blur', function () {
                        if(!this.value.length) cancelSearch();
                    })
                    .on('input', function(){
                        if(this.value.length) {
                            $searchResult.show();
                        } else {
                            $searchResult.hide();
                        }
                    })
                ;
                $searchClear.on('click', function(){
                    hideSearchResult();
                    $searchInput.focus();
                });
                $searchCancel.on('click', function(){
                    cancelSearch();
                    $searchInput.blur();
                });
                $('.weui-tabbar__item').on('click', function () {
                    $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');
                });
            }
        },
        mounted(){
            this.init();
            this.initData();
        }
    })


</script>
</html>